<?xml version="1.0"?>
<config>
    <modules>
        <Ak_Codeeditor>
            <version>1.0.0</version>
        </Ak_Codeeditor>
    </modules>
    <global>
        <models>
            <ak_Codeeditor>
                <class>Ak_Codeeditor_Model</class>
            </ak_Codeeditor>
        </models>
        <resources>
            <ak_Codeeditor_setup>
                <setup>
                    <module>Ak_Codeeditor</module>
                </setup>
            </ak_Codeeditor_setup>
        </resources>
        <events>
            <!--<cms_Codeeditor_config_prepare>-->
                <!--<observers>-->
                    <!--<Codeeditor_test>-->
                        <!--<type>model</type>-->
                        <!--<class>ak_Codeeditor/observer</class>-->
                        <!--<method>test</method>-->
                    <!--</Codeeditor_test>-->
                <!--</observers>-->
            <!--</cms_Codeeditor_config_prepare>-->
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ak_Codeeditor>
                    <file>codeeditor.xml</file>
                </ak_Codeeditor>
            </updates>
        </layout>
    </adminhtml>
</config>