<?xml version="1.0"?>
<config>
    <modules>
        <Ak_Wysiwyg>
            <version>1.0.0</version>
        </Ak_Wysiwyg>
    </modules>
    <global>
        <models>
            <ak_wysiwyg>
                <class>MageBrews_Wysiwyg_Model</class>
            </ak_wysiwyg>
        </models>
        <resources>
            <ak_wysiwyg_setup>
                <setup>
                    <module>MageBrews_Wysiwyg</module>
                </setup>
            </ak_wysiwyg_setup>
        </resources>
        <events>
            <cms_wysiwyg_config_prepare>
                <observers>
                    <wysiwyg_test>
                        <type>model</type>
                        <class>ak_wysiwyg/observer</class>
                        <method>test</method>
                    </wysiwyg_test>
                </observers>
            </cms_wysiwyg_config_prepare>
        </events>
    </global>
</config>